.tipContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.tipContainer label, .tipContainer input {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.tipContainer .radioInput label {
  padding: 5px;
  cursor: pointer;
  z-index: 90;
  background-color: hsl(183, 100%, 15%);
  color: hsl(0, 0%, 100%);
  font-size: 24px;
  font-weight: 700;
  border-radius: 3px;
  line-height: 20px;
  text-align: center;
}

.tipContainer .custom label {
  padding: 5px;
  cursor: pointer;
  z-index: 90;
  background-color: transparent;
  color: hsl(183, 100%, 15%);
  font-size: 24px;
  font-weight: 700;
  border-radius: 3px;
  
}

.radioInput {
  width: 80px;
  height: 40px;
  position: relative;
  margin-bottom: 12px;
  
}

.radioInput span.chakra-radio__control {
  display: none;
}